---
import SectionLayout from "@layouts/SectionLayout.astro";
import HeroProfile from "@components/Sections/Hero/HeroProfile.astro";
import HeroContent from "@components/Sections/Hero/HeroContent.astro";

const PHRASES = [
  "a software developer",
  "a web enthusiast",
  "a user interface designer",
];
---

<SectionLayout>
  <section id="hero" class="flex justify-start items-start gap-4 w-full">
    <HeroProfile imageSrc="/photos/me.webp" imageAlt="Picture of me" />
    <HeroContent
      name="Matías"
      phrases={PHRASES}
      description="Full Stack Developer creating simple, fast, and enjoyable web experiences."
      location="Málaga, Spain"
      githubUrl="https://github.com/matgarfer499"
      linkedinUrl="https://www.linkedin.com/in/mgarfer/"
    />
  </section>
</SectionLayout>
