---
import SectionLayout from "@layouts/SectionLayout.astro";
import HeroProfile from "@components/Sections/Hero/HeroProfile.astro";
import HeroContent from "@components/Sections/Hero/HeroContent.astro";

const PHRASES = [
  "a software developer",
  "specializing in web development",
  "a UI/UX designer",
];
---

<SectionLayout>
  <section id="hero" class="w-full h-auto grid grid-cols-1 sm:grid-cols-[auto_1fr] items-start md:items-center gap-3 sm:gap-4">
    <HeroProfile imageSrc="/photos/me.webp" imageAlt="Profile picture" />
    <HeroContent
      name="Matías"
      phrases={PHRASES}
      description="Full Stack Developer creating simple, fast, and enjoyable web experiences."
      location="Málaga, Spain"
      githubUrl="https://github.com/matgarfer499"
      linkedinUrl="https://www.linkedin.com/in/mgarfer/"
    />
  </section>
</SectionLayout>
