---
/**
 * Experience Section Component
 * Displays work experience with resume link
 * Composed of modular subcomponents for better scalability
 */
import SectionLayout from '@layouts/SectionLayout.astro';
import SectionTitle from '@components/UI/SectionTitle.astro';
import ExperienceList from '@components/Sections/Experience/ExperienceList.astro';
import ResumeLink from '@components/Sections/Experience/ResumeLink.astro';
---

<SectionLayout>
  <section id="experience">
    <SectionTitle title="Experience" class="!pb-4 sm:!pb-0" />
    <ExperienceList />
    <ResumeLink />
  </section>
</SectionLayout>
