@import "tailwindcss";

:root {
  /* Main palette */
  --color-primary-lightest: #fffcf2;
  --color-primary-lighter: #ccc5b9;
  --color-primary-light: #ccc5b9;
  --color-primary: #eb5e28;
  --color-primary-dark: #403d39;
  --color-primary-darker: #252422;

  /* Complementary colors */
  --color-bg-dark: #252422;
  --color-bg-darker: #1a1918;
  --color-text-light: #403d39;
  --color-text-muted: #252422;
  --color-accent: #eb5e28;
}

html,
body {
  height: 100%;
  background-color: var(--color-primary-lightest);
  background-image: url("wiggle.svg");
  color: var(--color-primary-dark);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}