---
/**
 * Projects Section Component
 * Displays portfolio projects
 * Composed of modular subcomponents for better scalability
 */
import SectionLayout from '@layouts/SectionLayout.astro';
import SectionTitle from '@components/UI/SectionTitle.astro';
import ProjectList from './ProjectList.astro';
---

<SectionLayout>
  <section id="projects">
    <SectionTitle title="Projects" />
    <ProjectList />
  </section>
</SectionLayout>
