<header class="w-full flex justify-between items-center p-4 ">
  <h1 class="text-2xl font-bold text-white">Matipro</h1>
  <ul class="flex space-x-4">
    <li><a href="/" class="text-white hover:underline">Home</a></li>
    <li>
      <a href="/experience" class="text-white hover:underline">Experience</a>
    </li>
    <li><a href="/about" class="text-white hover:underline">About</a></li>
    <li><a href="/projects" class="text-white hover:underline">Projects</a></li>
    <li><a href="/contact" class="text-white hover:underline">Contact</a></li>
  </ul>
</header>
