---
interface Props {
  icon: any;
  url: string;
}

const { icon: Icon, url } = Astro.props;
---

<a 
  href={url} 
  target="_blank" 
  rel="noopener noreferrer"
  class="flex justify-center w-8 h-8 items-center gap-1 p-1 bg-[var(--color-primary-light)]/50 border-[var(--color-primary-dark)] rounded-full transition-colors shadow-lg ring-1 ring-black/5"
>
  <Icon extraClasses="w-5 h-5 text-[var(--color-text-muted)]" />
</a>
