---
interface Props {
  label: string;
  icon: any;
  variant?: "social" | "tech";
}

const { label, icon: Icon } = Astro.props;
---

<div
  class="flex justify-center text-[var(--color-primary-dark)] items-center gap-1 px-1.5 sm:px-2 py-0.5 sm:py-1 bg-[var(--color-primary-dark)]/10 rounded-full transition-all duration-200 pointer-events-none shadow-sm border border-[var(--color-primary-dark)]/20"
>
  <Icon extraClasses="w-4 h-4 sm:w-5 sm:h-5" />
  <span class="text-xs sm:text-sm">{label}</span>
</div>
