---
interface Props {
  label: string;
  icon: any;
}

const { label, icon: Icon } = Astro.props;
---

<div class="flex justify-center items-center gap-1 px-2 py-1 text-white border rounded-full transition-colors hover:bg-white/5">
  <Icon extraClasses="w-4 h-4" />
  <span class="text-sm">{label}</span>
</div>
