---
interface Props {
  icon: any;
  url: string;
}

const { icon: Icon, url } = Astro.props;
---

<a 
  href={url} 
  target="_blank" 
  rel="noopener noreferrer"
  class="flex justify-center w-7 h-7 sm:w-8 sm:h-8 items-center gap-1 p-1 bg-[var(--color-primary-dark)]/10 rounded-full transition-all duration-200 shadow-sm hover:shadow-md border border-[var(--color-primary-dark)]/20 group"
>
  <Icon extraClasses="w-4 h-4 sm:w-5 sm:h-5 group-hover:text-[var(--color-accent)]" />
</a>
